.*.swp
*.cc
*.h
*.o
log
make-it
gitirc-bot
output
*.idx
*.log
*.pdf
*.ps
*.scn
*.toc
first
gitirc.log
rss-reader
config
*.cpp
*.tex
*.so
CMakeCache.txt
CMakeFiles
Makefile
*.cmake
gitircConfig.sh
libircclient*
